#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
        padding: 10px 0;
        border-radius: 10px;

        &>p {
            font-family: "Inter", sans-serif;
            font-size: 18px;
        }
    }

    @media (width <=1280px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (width <=1080px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width <=640px) {
        grid-template-columns: 1fr;
    }
}